body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  /* text-shadow: 2px 2px 4px #666; */

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url('images/crash.png');
  transition: transform 0.3s ease;
}


.a {
  background-image: url('images/kick.png');
  transition: transform 0.3s ease;
}

.s {
  background-image: url('images/snare.png');
  transition: transform 0.3s ease;
}

.d {
  background-image: url('images/tom1.png');
  transition: transform 0.3s ease;
}

.j {
  background-image: url('images/tom2.png');
  transition: transform 0.3s ease;
}

.k {
  background-image: url('images/tom3.png');
  transition: transform 0.3s ease;
}

.l {
  background-image: url('images/tom4.png');
  transition: transform 0.3s ease;
}
.w:hover,.a:hover,.s:hover,.d:hover,.j:hover,.k:hover,.l:hover {
  transform: scale(1.4); /* Zoom in by 40% on hover */
}
.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 2px 2px 4px #ffffff;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
footer a {
  text-decoration: none; /* Remove underline */
  color: #c8cccd; /* Set text color */
  font-size: 24px; /* Set font size */
  /* Add more styles as needed */
}
